Repository hetznercloud/hcloud-cloud-controller-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-snapshots, deploy-manifests, prettier, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^(deploy/.*|chart/templates/.*)$

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: ^(chart/.snapshots/.*)$

  - repo: local
    hooks:
      - id: helm-lint
        name: helm-lint
        description: Helm lint
        language: system
        entry: make -C chart lint
        pass_filenames: false
        files: ^chart/

  - repo: local
    hooks:
      - id: helm-snapshots
        name: update-helm-snapshots
        description: Update Helm snapshots
        language: system
        entry: make -C chart snapshots
        pass_filenames: false
        files: ^chart/

  - repo: local
    hooks:
      - id: deploy-manifests
        name: update-deploy-manifests
        description: Update deploy manifests
        language: system
        entry: make -C chart deploy-manifests
        pass_filenames: false
        files: ^(chart/|deploy/)

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.7.4]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|chart/templates/.*|chart/.snapshots/.*|docs/reference/load_balancer_.*\.md|)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint-full
        language_version: 1.25.5 # renovate: datasource=golang-version depName=go

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: go generate ./...
        pass_filenames: false
        files: (^\.md\.tmpl|\.go$)

test: create Load Balancer timeout of eight minutes
  tests/e2e/helper_test.go
Due: generate

test: cleanup load balancers by uuid
  tests/e2e/helper_test.go
Due: generate

test: run certificate tests sequentially
  tests/e2e/cloud_test.go
Due: generate

test: lb creation timeouts depending on test case
  tests/e2e/cloud_test.go
  tests/e2e/helper_test.go
  tests/e2e/robot_test.go
Due: generate

test: calc create service timeout from annotations
  tests/e2e/cloud_test.go
  tests/e2e/helper_test.go
  tests/e2e/robot_test.go
Due: generate

test: clarify usage of fmt print
  tests/e2e/helper_test.go
Due: generate

test: address e2e test flakiness (#1222)
  tests/e2e/cloud_test.go
  tests/e2e/helper_test.go
Due: generate

fix: routes controller on node name drift
  hcloud/cloud.go
  hcloud/cloud_test.go
  hcloud/routes.go
  hcloud/routes_test.go
  internal/hcops/server.go
  internal/hcops/server_test.go
  main.go
Due: generate

refactor: remove ops and improve error msgs
  hcloud/routes.go
Due: generate

refactor: error message spelling
  hcloud/routes.go
  hcloud/routes_test.go
Due: generate

fix: linter issues
  .golangci.yaml
  internal/hcops/load_balancer.go
Due: prettier, generate

feat: support kubernetes v1.36
  .github/workflows/test.yml
  docs/reference/version-policy.md
Due: prettier

chore(main): release v1.31.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.31.0 (#1185)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.31.0
  CHANGELOG.md
Due: none

chore(main): release v1.31.0 (#1231)
  CHANGELOG.md
Due: none

docs: fixup changelog
  CHANGELOG.md
Due: none

docs: remove duplicate changelog entry (#1232)
  CHANGELOG.md
Due: none

refactor: use and enforce `go fix`
  .pre-commit-config.yaml
  hcloud/instances_util.go
  hcloud/load_balancers_test.go
  hcloud/testing.go
  internal/annotation/name_test.go
  internal/config/config_test.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_internal_test.go
  internal/hcops/load_balancer_test.go
  internal/mocks/server.go
Due: prettier, generate

refactor: use and enforce `go fix` (#1234)
  .pre-commit-config.yaml
  hcloud/instances_util.go
  hcloud/load_balancers_test.go
  hcloud/testing.go
  internal/annotation/name_test.go
  internal/config/config_test.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_internal_test.go
  internal/hcops/load_balancer_test.go
  internal/mocks/server.go
Due: prettier, generate

deps: update terraform lock
  dev/.terraform.lock.hcl
Due: none

deps: update terraform lock (#1237)
  dev/.terraform.lock.hcl
Due: none

fix(cloud): make HasClusterID() return true to silence deprecation warning
  hcloud/cloud.go
  hcloud/cloud_test.go
Due: generate

fix: preserve node controller not used case
  hcloud/routes.go
Due: generate

test: improve resolveRouteTarget coverage
  hcloud/routes_test.go
Due: generate

fix: routes controller on node name drift (#1221)
  hcloud/cloud.go
  hcloud/cloud_test.go
  hcloud/routes.go
  hcloud/routes_test.go
  internal/hcops/server.go
  internal/hcops/server_test.go
  main.go
Due: generate

chore(main): release v1.31.1
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

feat: cache all servers in node controller
  hcloud/cloud.go
  hcloud/cloud_test.go
  hcloud/instances.go
  hcloud/instances_test.go
  hcloud/instances_util.go
  internal/config/config.go
  internal/config/config_test.go
  internal/metrics/metrics.go
  internal/servercache/servercache.go
  internal/servercache/servercache_test.go
Due: generate

fix: error message
  internal/servercache/servercache.go
Due: generate

chore(main): release v1.31.1 (#1245)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

refactor: replace deprecated methods
  hcloud/cloud.go
Due: generate

deps: update skaffold to v2.21.0
  .github/workflows/test.yml
Due: prettier

fix(main): drop forced --allow-untagged-cloud requirement
  hcloud/cloud.go
  hcloud/cloud_test.go
  main.go
Due: generate

feat(chart): expose podSecurityContext and securityContext values
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/templates/daemonset.yaml
  chart/templates/deployment.yaml
  chart/values.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier
