Repository hetznercloud/hcloud-cloud-controller-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-snapshots, deploy-manifests, prettier, generate

helm-lint:
  name: helm-lint
  description: Helm lint
  language: system
  entry: make -C chart lint
  pass_filenames: false

helm-snapshots:
  name: update-helm-snapshots
  description: Update Helm snapshots
  language: system
  entry: make -C chart snapshots
  pass_filenames: false

deploy-manifests:
  name: update-deploy-manifests
  description: Update deploy manifests
  language: system
  entry: make -C chart deploy-manifests
  pass_filenames: false

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.7.4

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: go generate ./...
  pass_filenames: false

test: wip
  hcloud/routes.go
  internal/cache/cache.go
  internal/cache/cache_test.go
Due: generate

test: fixes
  internal/cache/cache_test.go
Due: generate

test: fix tests
  internal/cache/cache.go
  internal/cache/cache_test.go
Due: generate

refactor: ttl maxAge naming
  internal/cache/cache.go
Due: generate

refactor: remove ttl naming
  docs/reference/server_cache.md
  hcloud/cloud.go
  internal/cache/servercache.go
  internal/config/config.go
  internal/config/config_test.go
Due: prettier, generate

refactor: remove unused cache
  internal/hcops/server.go
Due: generate

fix: use longer max age on byname
  hcloud/routes.go
Due: generate

apply suggestions from code review
  docs/reference/server_cache.md
  internal/cache/cache_test.go
Due: prettier, generate

refactor: remove unused func
  internal/cache/cache_test.go
Due: generate

docs: create route invalidate cache removed
  hcloud/routes.go
Due: generate

test: increase time in seconds
  internal/cache/cache_test.go
Due: generate

test: remove old behavior
  internal/cache/cache_test.go
Due: generate

doc: explain larger max age value in routes controller
  hcloud/routes.go
Due: generate

docs: fix broken comment
  hcloud/routes.go
Due: generate

refactor: remove mention of ttl
  internal/config/config.go
Due: generate

test: remove invalid/outdated comment and improve tests
  internal/cache/cache_test.go
Due: generate

feat(cache): replace TTL with max-age and use server cache in routes controller (#1269)
  docs/reference/server_cache.md
  hcloud/cloud.go
  hcloud/routes.go
  hcloud/routes_test.go
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cache/servercache.go
  internal/config/config.go
  internal/config/config_test.go
  internal/hcops/server.go
  internal/hcops/server_test.go
Due: prettier, generate

chore(main): release v1.33.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.33.0 (#1272)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

fix(routes): reject IPv6 routes early
  docs/explanation/private-networks.md
  hcloud/routes.go
  hcloud/routes_test.go
Due: prettier, generate

refactor: var naming
  hcloud/routes.go
Due: generate

fix: drop warning for untagged clouds
  main.go
Due: generate

fix(routes): reject IPv6 routes early (#1280)
  docs/explanation/private-networks.md
  hcloud/routes.go
  hcloud/routes_test.go
Due: prettier, generate

fix: drop warning for untagged clouds (#1281)
  main.go
Due: generate

chore(main): release v1.33.1
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

feat(chart): expose podSecurityContext and securityContext values
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/templates/daemonset.yaml
  chart/templates/deployment.yaml
  chart/values.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

fix: remaining issues
  .pre-commit-config.yaml
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/values.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

docs: latest tag deletion
  README.md
Due: prettier

docs: include date
  README.md
Due: prettier

chore(main): release v1.34.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

feat(helm): service account annotations
  chart/.snapshots/full.daemonset.yaml
  chart/full.daemonset-values.yaml
  chart/templates/serviceaccount.yaml
  chart/values.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

feat: set user-agent for metadata client
  hcloud/cloud.go
Due: generate

fix: add http opts
  internal/hcops/load_balancer.go
Due: generate

feat(load-balancer): support http timeout-idle annotation
  docs/reference/load_balancer_annotations.md
  internal/annotation/load_balancer.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_internal_test.go
  tools/load_balancer_annotations.md.tmpl
Due: generate

feat(load-balancer): improve logging on invalid input
  internal/hcops/certificates.go
  internal/hcops/errors.go
  internal/hcops/errors_internal_test.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_test.go
Due: generate

docs: document allowed range
  docs/reference/load_balancer_annotations.md
  internal/annotation/load_balancer.go
Due: generate

chore: fix dev env
  dev/.terraform.lock.hcl
  dev/Makefile
  dev/infra/.terraform.lock.hcl
  dev/infra/main.tf
  dev/infra/outputs.tf
  dev/infra/robot.tf
  dev/infra/variables.tf
  dev/k8s/.terraform.lock.hcl
  dev/k8s/main.tf
  dev/k8s/robot.tf
  dev/k8s/variables.tf
  dev/main.tf
Due: none

feat(load-balancer): support http timeout-idle annotation (#1301)
  docs/reference/load_balancer_annotations.md
  internal/annotation/load_balancer.go
  internal/hcops/certificates.go
  internal/hcops/errors.go
  internal/hcops/errors_internal_test.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_internal_test.go
  internal/hcops/load_balancer_test.go
  tools/load_balancer_annotations.md.tmpl
Due: generate

feat(node): disable zone label for cloud servers
  hcloud/cloud_test.go
  hcloud/instances.go
  internal/config/config.go
  internal/config/config_test.go
Due: generate

docs: zone label guide
  docs/guides/README.md
  docs/guides/zone-label.md
Due: prettier

Path conditions:
  helm-lint: any of: ^chart/
  helm-snapshots: any of: ^chart/
  deploy-manifests: any of: ^(chart/|deploy/)
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|chart/templates/.*|chart/.snapshots/.*|docs/reference/load_balancer_.*\.md|)$
  generate: any of: (^\.md\.tmpl|\.go$)
