Repository hetznercloud/hcloud-cloud-controller-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-snapshots, deploy-manifests, prettier, generate

helm-lint:
  name: helm-lint
  description: Helm lint
  language: system
  entry: make -C chart lint
  pass_filenames: false

helm-snapshots:
  name: update-helm-snapshots
  description: Update Helm snapshots
  language: system
  entry: make -C chart snapshots
  pass_filenames: false

deploy-manifests:
  name: update-deploy-manifests
  description: Update deploy manifests
  language: system
  entry: make -C chart deploy-manifests
  pass_filenames: false

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.7.4

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: go generate ./...
  pass_filenames: false

feat(instances): cache server lookups to reduce API calls
  docs/reference/README.md
  docs/reference/instance_cache.md
  hcloud/cloud.go
  hcloud/cloud_test.go
  hcloud/instances.go
  hcloud/instances_test.go
  hcloud/instances_util.go
  internal/config/config.go
  internal/config/config_test.go
  internal/metrics/metrics.go
  internal/servercache/allservercache.go
  internal/servercache/allservercache_test.go
  internal/servercache/evalservercache.go
  internal/servercache/perservercache.go
  internal/servercache/perservercache_test.go
  internal/servercache/servercache.go
  internal/servercache/servercache_test.go
Due: prettier, generate

docs: server cache interface
  internal/servercache/servercache.go
Due: generate

test: rename test after implementation changed
  internal/servercache/perservercache_test.go
Due: generate

test: simplify call counting and client mocking
  internal/servercache/servercache_test.go
Due: generate

refactor: gobal config option
  hcloud/cloud.go
  internal/config/config.go
  internal/config/config_test.go
Due: generate

docs: update cache settings
  docs/reference/instance_cache.md
Due: prettier

fix: prometheus metric label typo
  internal/metrics/metrics.go
Due: generate

refactor: wip cleanup
  hcloud/cloud.go
  hcloud/cloud_test.go
  hcloud/instances.go
  internal/config/config.go
  internal/config/config_test.go
  internal/servercache/context.go
  internal/servercache/servercache.go
  internal/servercache/servercache_test.go
Due: generate

feat: wip impl
  dev/Dockerfile
  hcloud/cloud.go
  hcloud/cloud_test.go
  hcloud/instances.go
  internal/servercache/allservercache.go
  internal/servercache/allservercache_test.go
  internal/servercache/evalservercache.go
  internal/servercache/perservercache.go
  internal/servercache/perservercache_test.go
  internal/servercache/servercache.go
  internal/servercache/servercache_test.go
Due: generate

test: improve coverage
  internal/servercache/servercache_test.go
Due: generate

docs: adjust config settings for caches
  docs/reference/instance_cache.md
  internal/servercache/servercache.go
Due: prettier, generate

refactor: rename and debug logs
  hcloud/cloud.go
  internal/servercache/servercache.go
Due: generate

docs: update docs/reference/instance_cache.md
  docs/reference/instance_cache.md
Due: prettier

refactor: get subsystem from context
  internal/servercache/servercache.go
Due: generate

refactor: include server_cache to metric name
  internal/metrics/metrics.go
Due: generate

fix: validate cache config
  internal/config/config.go
  internal/config/config_test.go
Due: generate

feat: add server namespace to cache options
  docs/reference/instance_cache.md
  internal/config/config.go
  internal/config/config_test.go
Due: prettier, generate

test: deduplicate test cache setup
  internal/servercache/servercache_test.go
Due: generate

docs: rename to server cache
  docs/reference/README.md
  docs/reference/server_cache.md
Due: prettier

refactor: rename package servercache to cache
  hcloud/cloud.go
  hcloud/cloud_test.go
  hcloud/instances.go
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cache/context.go
  internal/cache/servercache.go
  internal/cache/servercache_test.go
  internal/config/config.go
  internal/config/config_test.go
Due: generate

docs: remove rate-limit comment
  docs/reference/server_cache.md
Due: prettier

refactor: server cache renaming
  hcloud/cloud.go
  internal/config/config.go
  internal/config/config_test.go
Due: generate

docs: paginated calls to servers endpoint
  docs/reference/server_cache.md
Due: prettier

test: add context subsystem tests
  internal/cache/context_test.go
Due: generate

fix: only evict entires which expired at least an hour ago
  internal/cache/cache.go
Due: generate

test: fix unit tests
  internal/cache/cache_test.go
Due: generate

docs: add one minute max ttl
  docs/reference/server_cache.md
Due: prettier

docs: apply suggestions from code review
  internal/metrics/metrics.go
Due: generate

refactor: server cache prefix
  internal/config/config.go
Due: generate

docs: make comments generic
  internal/cache/cache.go
Due: generate

feat(instances): cache server lookups to reduce API calls (#1252)
  dev/Dockerfile
  docs/reference/README.md
  docs/reference/server_cache.md
  hcloud/cloud.go
  hcloud/cloud_test.go
  hcloud/instances.go
  hcloud/instances_test.go
  hcloud/instances_util.go
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cache/context.go
  internal/cache/context_test.go
  internal/cache/servercache.go
  internal/cache/servercache_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/metrics/metrics.go
Due: prettier, generate

test: run e2e tests against older k8s versions
  .github/workflows/test.yml
Due: prettier

chore(main): release v1.32.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.32.0 (#1262)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

fix: never return expired entry when api returns not found
  internal/cache/cache.go
Due: generate

fix(cache): when api returns not found do not return an expired entry (#1271)
  internal/cache/cache.go
Due: generate

test(cache): rename tests
  internal/cache/cache_test.go
Due: generate

test(cache): merge cache tests by mode
  internal/cache/cache_test.go
Due: generate

test(cache): merge cache tests by mode (#1270)
  internal/cache/cache_test.go
Due: generate

refactor: maxage refresh opt and cache get all
  hcloud/cloud.go
  hcloud/routes.go
  hcloud/routes_test.go
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/hcops/server_test.go
Due: generate

Path conditions:
  helm-lint: any of: ^chart/
  helm-snapshots: any of: ^chart/
  deploy-manifests: any of: ^(chart/|deploy/)
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|chart/templates/.*|chart/.snapshots/.*|docs/reference/load_balancer_.*\.md|)$
  generate: any of: (^\.md\.tmpl|\.go$)
