Repository hetznercloud/hcloud-cloud-controller-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-snapshots, deploy-manifests, prettier, generate

helm-lint:
  name: helm-lint
  description: Helm lint
  language: system
  entry: make -C chart lint
  pass_filenames: false

helm-snapshots:
  name: update-helm-snapshots
  description: Update Helm snapshots
  language: system
  entry: make -C chart snapshots
  pass_filenames: false

deploy-manifests:
  name: update-deploy-manifests
  description: Update deploy manifests
  language: system
  entry: make -C chart deploy-manifests
  pass_filenames: false

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.7.4

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: go generate ./...
  pass_filenames: false

chore: build failure
  hcloud/instances.go
  hcloud/instances_test.go
  internal/annotation/annotation.go
  internal/annotation/annotation_test.go
Due: generate

chore: build failure (#1366)
  hcloud/instances.go
  hcloud/instances_test.go
  internal/annotation/annotation.go
  internal/annotation/annotation_test.go
Due: generate

feat: support Kubernetes v1.37
  .github/workflows/test.yml
  docs/reference/version-policy.md
Due: prettier

feat: support Kubernetes v1.37 (#1367)
  .github/workflows/test.yml
  docs/reference/version-policy.md
Due: prettier

chore(main): release v1.38.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.38.0 (#1368)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

feat: wait for load balancer deletion action
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_test.go
  internal/mocks/loadbalancer.go
Due: generate

feat(load-balancer): create Load Balancers with existing Primary IPs
  docs/guides/load-balancer/README.md
  docs/guides/load-balancer/primary-ips.md
  docs/reference/load_balancer_annotations.md
  internal/annotation/load_balancer.go
  internal/lbspec/opts.go
  internal/lbspec/opts_test.go
  internal/lbspec/solver.go
  internal/lbspec/solver_test.go
  internal/lbspec/spec.go
Due: prettier, generate

feat: warn on primary ip change
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_test.go
Due: generate

build(skaffold): set deployment strategy to recreate
  skaffold.yaml
Due: prettier

docs: add warning msg
  docs/guides/load-balancer/primary-ips.md
Due: prettier

docs: metadata header
  docs/guides/load-balancer/primary-ips.md
Due: prettier

build(skaffold): set deployment strategy to recreate (#1376)
  skaffold.yaml
Due: prettier

refactor
  internal/lbspec/opts.go
Due: generate

feat(load-balancer): create Load Balancers with existing Primary IPs (#1374)
  docs/guides/load-balancer/README.md
  docs/guides/load-balancer/primary-ips.md
  docs/reference/load_balancer_annotations.md
  internal/annotation/load_balancer.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_test.go
  internal/lbspec/opts.go
  internal/lbspec/opts_test.go
  internal/lbspec/solver.go
  internal/lbspec/solver_test.go
  internal/lbspec/spec.go
Due: prettier, generate

chore(main): release v1.39.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

ci: automated docs publishing (cloud/integrations/hcloud-cloud-controller-manager!60)
  .gitlab-ci.yml
Due: prettier

ci: run pipeline on default branch (cloud/integrations/hcloud-cloud-controller-manager!61)
  .gitlab-ci.yml
Due: prettier

chore(main): release v1.39.0 (#1373)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

docs: update metadata headers
  docs/guides/address-family.md
  docs/guides/load-balancer/configuration.md
  docs/guides/load-balancer/primary-ips.md
  docs/guides/load-balancer/private-networks.md
  docs/guides/load-balancer/quickstart.md
  docs/guides/private-network-setup.md
  docs/guides/quickstart.md
  docs/guides/robot/lb-only-without-credentials.md
  docs/guides/robot/private-networks.md
  docs/guides/robot/quickstart.md
  docs/guides/troubleshooting.md
  docs/guides/zone-label.md
Due: prettier

docs: update metadata headers (#1378)
  docs/guides/address-family.md
  docs/guides/load-balancer/configuration.md
  docs/guides/load-balancer/primary-ips.md
  docs/guides/load-balancer/private-networks.md
  docs/guides/load-balancer/quickstart.md
  docs/guides/private-network-setup.md
  docs/guides/quickstart.md
  docs/guides/robot/lb-only-without-credentials.md
  docs/guides/robot/private-networks.md
  docs/guides/robot/quickstart.md
  docs/guides/troubleshooting.md
  docs/guides/zone-label.md
Due: prettier

Path conditions:
  helm-lint: any of: ^chart/
  helm-snapshots: any of: ^chart/
  deploy-manifests: any of: ^(chart/|deploy/)
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|chart/templates/.*|chart/.snapshots/.*|docs/reference/load_balancer_.*\.md|)$
  generate: any of: (^\.md\.tmpl|\.go$)
