Repository hetznercloud/hcloud-cloud-controller-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-snapshots, deploy-manifests, prettier, generate

helm-lint:
  name: helm-lint
  description: Helm lint
  language: system
  entry: make -C chart lint
  pass_filenames: false

helm-snapshots:
  name: update-helm-snapshots
  description: Update Helm snapshots
  language: system
  entry: make -C chart snapshots
  pass_filenames: false

deploy-manifests:
  name: update-deploy-manifests
  description: Update deploy manifests
  language: system
  entry: make -C chart deploy-manifests
  pass_filenames: false

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.7.4

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: go generate ./...
  pass_filenames: false

chore: remove func
  internal/hcops/certificates_test.go
Due: generate

wip
  internal/hcops/load_balancer.go
Due: generate

fix(instances): skip IPv6 ExternalIP for Robot servers without a subnet
  hcloud/instances.go
  hcloud/instances_test.go
Due: generate

wip
  internal/testsupport/klog.go
Due: generate

refactor
  hcloud/instances.go
Due: generate

fix(instances): skip IPv6 ExternalIP for Robot servers without a subnet (#1337)
  hcloud/instances.go
  hcloud/instances_test.go
Due: generate

chore(main): release v1.36.1
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

feat(robot): keep the IPv6 ExternalIP configured on a Robot node
  docs/explanation/robot-support.md
  hcloud/instances.go
  hcloud/instances_test.go
Due: prettier, generate

chore: move Prettier ignores into .prettierignore
  .pre-commit-config.yaml
  .prettierignore
Due: prettier

chore: move Prettier ignores into .prettierignore (#1345)
  .pre-commit-config.yaml
  .prettierignore
Due: prettier

refactor(tools): derive the read-only column and list the docs to generate
  tools/doc_generation.go
Due: generate

refactor(tools): derive the read-only column and list the docs to generate (#1346)
  tools/doc_generation.go
Due: generate

fix: break when address found
  hcloud/instances.go
Due: generate

wip
  docs/explanation/robot-support.md
  hcloud/instances.go
Due: prettier, generate

feat: use new node annotation
  .prettierignore
  docs/explanation/robot-support.md
  docs/reference/README.md
  docs/reference/node_annotations.md
  hcloud/instances.go
  hcloud/instances_test.go
  internal/annotation/annotation.go
  internal/annotation/annotation_test.go
  internal/annotation/instance.go
  tools/doc_generation.go
  tools/node_annotations.md.tmpl
Due: prettier, generate

feat: warn on ipv4 only with annotation set
  docs/explanation/robot-support.md
  hcloud/instances.go
  hcloud/instances_test.go
Due: prettier, generate

wip
  hcloud/instances.go
Due: generate

refactor: migrate to netip package
  internal/annotation/annotation.go
  internal/annotation/annotation_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_test.go
  internal/hcops/same_ip_test.go
  internal/lbspec/opts.go
  internal/lbspec/opts_test.go
  internal/lbspec/solver.go
  internal/lbspec/solver_test.go
  internal/lbspec/spec.go
Due: generate

refactor: rename hccm managed certificates owned certificates
  internal/hcops/load_balancer.go
  internal/lbspec/opts.go
  internal/lbspec/opts_test.go
  internal/lbspec/solver.go
  internal/lbspec/solver_test.go
  internal/lbspec/spec.go
Due: generate

refactor: reuse extracted spec
  hcloud/load_balancers.go
  hcloud/load_balancers_test.go
  hcloud/testing.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_test.go
  internal/hcops/mocks.go
  internal/hcops/testing.go
Due: generate

Add headers
  docs/guides/address-family.md
  docs/guides/load-balancer/configuration.md
  docs/guides/load-balancer/private-networks.md
  docs/guides/load-balancer/quickstart.md
  docs/guides/private-network-setup.md
  docs/guides/quickstart.md
  docs/guides/robot/lb-only-without-credentials.md
  docs/guides/robot/migrating-from-syself.md
  docs/guides/robot/private-networks.md
  docs/guides/robot/quickstart.md
  docs/guides/troubleshooting.md
  docs/guides/zone-label.md
  docs/tutorials/ingress-nginx-controller.md
Due: prettier

chore: enable podmonitor on snapshots
  chart/.snapshots/full.daemonset.yaml
  chart/Makefile
  chart/full.daemonset-values.yaml
  chart/templates/podmonitor.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore: enable podmonitor on snapshots (#1354)
  chart/.snapshots/full.daemonset.yaml
  chart/Makefile
  chart/full.daemonset-values.yaml
  chart/templates/podmonitor.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

feat: configure external ipv6 for cloud and robot
  docs/explanation/robot-support.md
  docs/guides/README.md
  docs/guides/external-ipv6.md
  docs/reference/node_annotations.md
  hcloud/instances.go
  hcloud/instances_test.go
  internal/annotation/instance.go
Due: prettier, generate

refactor
  hcloud/instances.go
  hcloud/instances_test.go
Due: generate

test: test externalIPv6 independently
  hcloud/instances_test.go
Due: generate

feat: configure the IPv6 ExternalIP through a Node annotation (#1343)
  .prettierignore
  docs/explanation/robot-support.md
  docs/guides/README.md
  docs/guides/external-ipv6.md
  docs/reference/README.md
  docs/reference/node_annotations.md
  hcloud/instances.go
  hcloud/instances_test.go
  internal/annotation/annotation.go
  internal/annotation/annotation_test.go
  internal/annotation/instance.go
  tools/doc_generation.go
  tools/node_annotations.md.tmpl
Due: prettier, generate

chore(main): release v1.37.0-rc.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.37.0-rc.0 (#1339)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.37.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

Update title
  docs/guides/address-family.md
  docs/guides/load-balancer/configuration.md
  docs/guides/load-balancer/private-networks.md
  docs/guides/load-balancer/quickstart.md
  docs/guides/private-network-setup.md
  docs/guides/quickstart.md
  docs/guides/robot/lb-only-without-credentials.md
  docs/guides/robot/migrating-from-syself.md
  docs/guides/robot/private-networks.md
  docs/guides/robot/quickstart.md
  docs/guides/troubleshooting.md
  docs/guides/zone-label.md
  docs/tutorials/ingress-nginx-controller.md
Due: prettier

fix: linting
  docs/guides/private-network-setup.md
  docs/guides/quickstart.md
  docs/guides/robot/lb-only-without-credentials.md
  docs/guides/robot/quickstart.md
Due: prettier

docs: remove indentations of code blocks
  docs/guides/private-network-setup.md
  docs/guides/quickstart.md
  docs/guides/robot/lb-only-without-credentials.md
  docs/guides/robot/quickstart.md
Due: prettier

docs: undo syself doc publish
  docs/guides/robot/migrating-from-syself.md
Due: prettier

docs: don't publish the retired ingress nginx tutorial
  docs/tutorials/ingress-nginx-controller.md
Due: prettier

docs: add headers and review (#1349)
  docs/guides/address-family.md
  docs/guides/load-balancer/configuration.md
  docs/guides/load-balancer/private-networks.md
  docs/guides/load-balancer/quickstart.md
  docs/guides/private-network-setup.md
  docs/guides/quickstart.md
  docs/guides/robot/lb-only-without-credentials.md
  docs/guides/robot/private-networks.md
  docs/guides/robot/quickstart.md
  docs/guides/troubleshooting.md
  docs/guides/zone-label.md
Due: prettier

chore(main): release v1.37.0 (#1355)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

refactor: use a spec model for annotation extraction (#1329)
  hcloud/cloud.go
  hcloud/load_balancers.go
  hcloud/load_balancers_test.go
  hcloud/testing.go
  internal/annotation/annotation.go
  internal/annotation/annotation_test.go
  internal/annotation/load_balancer.go
  internal/config/config.go
  internal/config/config_test.go
  internal/hcops/certificates_test.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_internal_test.go
  internal/hcops/load_balancer_test.go
  internal/hcops/mocks.go
  internal/hcops/same_ip_test.go
  internal/hcops/testing.go
  internal/lbspec/opts.go
  internal/lbspec/opts_test.go
  internal/lbspec/solver.go
  internal/lbspec/solver_test.go
  internal/lbspec/spec.go
  internal/testsupport/klog.go
  internal/utils/eventlog_test.go
  tests/e2e/cloud_test.go
  tests/e2e/helper_test.go
Due: generate

Path conditions:
  helm-lint: any of: ^chart/
  helm-snapshots: any of: ^chart/
  deploy-manifests: any of: ^(chart/|deploy/)
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|chart/templates/.*|chart/.snapshots/.*|docs/reference/load_balancer_.*\.md|)$
  generate: any of: (^\.md\.tmpl|\.go$)
