Repository hetznercloud/hcloud-cloud-controller-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-snapshots, deploy-manifests, prettier, generate

helm-lint:
  name: helm-lint
  description: Helm lint
  language: system
  entry: make -C chart lint
  pass_filenames: false

helm-snapshots:
  name: update-helm-snapshots
  description: Update Helm snapshots
  language: system
  entry: make -C chart snapshots
  pass_filenames: false

deploy-manifests:
  name: update-deploy-manifests
  description: Update deploy manifests
  language: system
  entry: make -C chart deploy-manifests
  pass_filenames: false

prettier:
  name: prettier
  entry: prettier --write --ignore-unknown
  language: node
  require_serial: false
  additional_dependencies:
  - prettier@3.7.4

generate:
  name: generate
  description: Ensure generated files are up to date
  language: golang
  entry: go generate ./...
  pass_filenames: false

docs: add new environment variables
  docs/reference/load_balancer_envs.md
  internal/config/config.go
  internal/config/load_balancer_envs.go
Due: generate

docs: add defaults and fix type
  docs/reference/load_balancer_envs.md
  internal/config/load_balancer_envs.go
Due: generate

docs: add default indication
  docs/reference/load_balancer_envs.md
  internal/config/load_balancer_envs.go
Due: generate

docs: fix typo
  docs/reference/load_balancer_envs.md
  internal/config/load_balancer_envs.go
Due: generate

docs: update introduction paragraph
  docs/reference/load_balancer_envs.md
  tools/load_balancer_envs.md.tmpl
Due: none

docs: transform bullet point to sentence
  docs/reference/load_balancer_envs.md
  tools/load_balancer_envs.md.tmpl
Due: none

refactor: rename annotation specifc code parts
  docs/reference/load_balancer_envs.md
  tools/doc_generation.go
  tools/load_balancer_annotations.md.tmpl
  tools/load_balancer_envs.md.tmpl
Due: generate

refactor: naming
  tools/doc_generation.go
Due: generate

refactor: use generic name in table header
  docs/reference/load_balancer_annotations.md
  docs/reference/load_balancer_envs.md
  tools/doc_generation.go
  tools/load_balancer_envs.md.tmpl
Due: generate

fix: references of other annotations/envs in text
  docs/reference/load_balancer_annotations.md
  docs/reference/load_balancer_envs.md
  internal/annotation/load_balancer.go
  internal/config/load_balancer_envs.go
  tools/doc_generation.go
Due: generate

docs: update developer docs
  README.md
Due: prettier

fix: references to other annotations/envs
  docs/reference/load_balancer_annotations.md
  docs/reference/load_balancer_envs.md
  tools/doc_generation.go
Due: generate

feat: keep original sorting of annotations and envs
  docs/reference/load_balancer_annotations.md
  docs/reference/load_balancer_envs.md
  tools/doc_generation.go
Due: generate

docs: generate load balancer env reference (#1101)
  .golangci.yaml
  .pre-commit-config.yaml
  README.md
  docs/reference/load_balancer_annotations.md
  docs/reference/load_balancer_envs.md
  internal/annotation/load_balancer.go
  internal/config/config.go
  internal/config/load_balancer_envs.go
  tools/doc_generation.go
  tools/load_balancer_annotations.md.tmpl
  tools/load_balancer_envs.md.tmpl
Due: prettier, generate

docs: update reference docs table of content
  docs/reference/README.md
Due: prettier

docs: update reference docs table of content (#1113)
  docs/reference/README.md
Due: prettier

deps: update k8s to v0.35.0
  go.mod
  go.sum
Due: none

deps: update k8s.io/* deps to v1.35-rc.1
  go.mod
  go.sum
Due: none

feat: enable watch based route reconciliation by default
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/values.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

tests: remove colliding test
  tests/e2e/cloud_test.go
Due: generate

feat: enable watch based route reconciliation by default (#1112)
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/values.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
  go.mod
  go.sum
  tests/e2e/cloud_test.go
Due: helm-lint, helm-snapshots, deploy-manifests, prettier, generate

chore(main): release v1.29.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.29.0 (#1111)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

test: update ansible setup for robot installation
  dev/robot/ansible.cfg
Due: none

test: update ansible setup for robot installation (#1122)
  dev/robot/ansible.cfg
Due: none

Remove "proxyProtocolEnabledDefault" because it was always false.
  hcloud/load_balancers.go
Due: generate

fix: respect proxy protocol default from config for load balancer status
  hcloud/cloud.go
  hcloud/load_balancers.go
  hcloud/testing.go
Due: generate

chore(main): release v1.29.1
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

fix: respect proxy protocol default from config for load balancer status (#1131)
  hcloud/cloud.go
  hcloud/load_balancers.go
  hcloud/testing.go
Due: generate

chore(main): release v1.29.1 (#1133)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

Continue after warning about unsupported lb protocol
  internal/hcops/load_balancer.go
Due: generate

fix test
  internal/hcops/load_balancer_test.go
Due: generate

Apply suggestions from code review
  internal/hcops/load_balancer.go
Due: generate

cleanup and fmt
  internal/hcops/load_balancer.go
Due: generate

fix: tcp service created for service with unsupported load balancer protocol (#1129)
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_test.go
Due: generate

chore(main): release v1.29.2
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.29.2 (#1135)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

Add ROBOT_USE_LEGACY_PROVIDER_ID to use legacy provider ID
  .gitignore
  hcloud/instances.go
  hcloud/instances_test.go
  internal/config/config.go
  internal/providerid/providerid.go
Due: generate

fix(load-balancer): wait for action of managed certificate
  hcloud/cloud.go
  internal/hcops/certificates.go
  internal/hcops/certificates_test.go
  internal/hcops/load_balancer_internal_test.go
  internal/hcops/testing.go
Due: generate

Path conditions:
  helm-lint: any of: ^chart/
  helm-snapshots: any of: ^chart/
  deploy-manifests: any of: ^(chart/|deploy/)
  prettier: any of: \.(md|ya?ml)$, but not: ^(CHANGELOG.md|chart/templates/.*|chart/.snapshots/.*|docs/reference/load_balancer_.*\.md|)$
  generate: any of: (^\.md\.tmpl|\.go$)
