Repository hetznercloud/hcloud-cloud-controller-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, helm-snapshots, deploy-manifests, prettier, generate

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^(deploy/.*|chart/templates/.*)$

      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: ^(chart/.snapshots/.*)$

  - repo: local
    hooks:
      - id: helm-lint
        name: helm-lint
        description: Helm lint
        language: system
        entry: make -C chart lint
        pass_filenames: false
        files: ^chart/

  - repo: local
    hooks:
      - id: helm-snapshots
        name: update-helm-snapshots
        description: Update Helm snapshots
        language: system
        entry: make -C chart snapshots
        pass_filenames: false
        files: ^chart/

  - repo: local
    hooks:
      - id: deploy-manifests
        name: update-deploy-manifests
        description: Update deploy manifests
        language: system
        entry: make -C chart deploy-manifests
        pass_filenames: false
        files: ^(chart/|deploy/)

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: prettier --write --ignore-unknown
        language: node
        types: [text]
        require_serial: false
        additional_dependencies: [prettier@3.7.4]
        files: \.(md|ya?ml)$
        exclude: ^(CHANGELOG.md|chart/templates/.*|chart/.snapshots/.*|docs/reference/load_balancer_.*\.md|)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        description: Format shell scripts with shfmt
        language: golang
        additional_dependencies: [mvdan.cc/sh/v3/cmd/shfmt@v3.8.0]
        entry: shfmt -i 2 -ci -sr -kp -w
        types: [shell]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.7.2
    hooks:
      - id: golangci-lint-full
        language_version: 1.25.5 # renovate: datasource=golang-version depName=go

  - repo: local
    hooks:
      - id: generate
        name: generate
        description: Ensure generated files are up to date
        language: golang
        entry: go generate ./...
        pass_filenames: false
        files: (^\.md\.tmpl|\.go$)

fix(load-balancer): wait for action of managed certificate (#1144)
  hcloud/cloud.go
  internal/hcops/certificates.go
  internal/hcops/certificates_test.go
  internal/hcops/load_balancer_internal_test.go
  internal/hcops/testing.go
Due: generate

feat: support kubernetes v1.35
  .github/workflows/test.yml
  docs/reference/version-policy.md
Due: prettier

deps: update kubectl to v1.35.1
  .github/workflows/test.yml
Due: prettier

docs: fix test status badge
  README.md
Due: prettier

docs: fix test status badge (#1153)
  README.md
Due: prettier

feat: support Kubernetes v1.35 (#1152)
  .github/workflows/test.yml
  docs/reference/version-policy.md
Due: prettier

chore(main): release v1.30.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.30.0 (#1145)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

ci: update linter settings
  .golangci.yaml
Due: prettier

fix: linting errors
  internal/config/config.go
  tools/doc_generation.go
Due: generate

fix: datacenter deprecation
  go.mod
  go.sum
  hcloud/instances.go
  hcloud/instances_test.go
  internal/legacydatacenter/datacenter.go
  internal/legacydatacenter/datacenter_test.go
  tests/e2e/cloud_test.go
Due: generate

docs: update robot explanation
  docs/explanation/robot-support.md
Due: prettier

fix: statically map deprecated datacenter names (#1159)
  docs/explanation/robot-support.md
  go.mod
  go.sum
  hcloud/instances.go
  hcloud/instances_test.go
  internal/legacydatacenter/datacenter.go
  internal/legacydatacenter/datacenter_test.go
  tests/e2e/cloud_test.go
Due: prettier, generate

chore(main): release v1.30.1
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

chore(main): release v1.30.1 (#1160)
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

fix: allow robot api and node name diff
  hcloud/instances_util.go
Due: generate

test: robot and node name diff unit
  hcloud/instances_util_test.go
  internal/mocks/casts.go
  internal/mocks/robot.go
Due: generate

fix: differing names not supported
  docs/explanation/robot-support.md
  hcloud/instances_util.go
  hcloud/instances_util_test.go
Due: prettier, generate

docs: add datacenter deprecation banner
  README.md
Due: prettier

feat(robot): allow Robot support without credentials for IP-based LB targets
  docs/explanation/robot-support.md
  docs/guides/robot/private-networks.md
  hcloud/cloud.go
  internal/config/config.go
  internal/config/config_test.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_test.go
Due: prettier, generate

ci: fix linting rules
  .golangci.yaml
Due: prettier

docs: add release link
  README.md
Due: prettier

docs: add datacenter deprecation banner (#1172)
  README.md
Due: prettier

feat(robot): allow Robot support without API credentials for IP-based LB targets (#1163)
  docs/explanation/robot-support.md
  docs/guides/robot/private-networks.md
  hcloud/cloud.go
  internal/config/config.go
  internal/config/config_test.go
  internal/hcops/load_balancer.go
  internal/hcops/load_balancer_test.go
Due: prettier, generate

chore(main): release v1.31.0
  CHANGELOG.md
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/Chart.yaml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

docs: new guide on lb without credentials
  docs/explanation/robot-support.md
  docs/guides/robot/README.md
  docs/guides/robot/lb-only-without-credentials.md
  docs/guides/robot/private-networks.md
Due: prettier

test: refactor e2e test suite
  tests/e2e/cloud_test.go
  tests/e2e/e2e_test.go
  tests/e2e/helper_test.go
  tests/e2e/robot_test.go
Due: generate

docs: fix typo
  docs/guides/robot/README.md
Due: prettier

docs: fix formulation
  docs/explanation/robot-support.md
Due: prettier

Allow chart deployment strategy
  chart/templates/deployment.yaml
  chart/values.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

Hot Reload of Credentials (Still Work in Progress)
  .gitignore
  hcloud/cloud.go
  hcloud/runtime_credentials.go
  hcloud/runtime_credentials_test.go
  internal/config/runtime_credentials.go
Due: generate

hot reload via inotify.
  hcloud/cloud.go
  hcloud/runtime_credentials.go
  hcloud/runtime_credentials_test.go
  internal/config/runtime_credentials.go
Due: generate

docs: clarify hot reload requires file-backed secrets
  chart/values.yaml
  docs/reference/helm/extra-envs.md
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

test: cover hot reload credential paths
  hcloud/runtime_credentials_test.go
  internal/config/runtime_credentials_test.go
Due: generate

docs: differing Robot server name and Node name not supported (#1170)
  docs/explanation/robot-support.md
  hcloud/instances_util.go
  hcloud/instances_util_test.go
  internal/mocks/casts.go
  internal/mocks/robot.go
Due: prettier, generate

docs: check for provider ID
  docs/guides/robot/lb-only-without-credentials.md
Due: prettier

Remove RBACs for persistentvolumnes
  .gitignore
  chart/.snapshots/default.yaml
  chart/.snapshots/full.daemonset.yaml
  chart/templates/clusterrole.yml
  deploy/ccm-networks.yaml
  deploy/ccm.yaml
Due: helm-lint, helm-snapshots, deploy-manifests, prettier

docs: kubectl jsonpath for verification step
  docs/guides/robot/lb-only-without-credentials.md
Due: prettier

docs: new guide on lb without credentials (#1186)
  docs/explanation/robot-support.md
  docs/guides/robot/README.md
  docs/guides/robot/lb-only-without-credentials.md
  docs/guides/robot/private-networks.md
Due: prettier
